# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [24]:
data.head()

data.loc[data['CustomerID'] == 33]

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
527,33,Lindsay,Santana,1899667,432,Beer - Original Organic Lager,1
1017,33,Lindsay,Santana,6509275,417,"Lamb - Pieces, Diced",1
3012,33,Lindsay,Santana,5638266,214,French Pastry - Mini Chocolate,1
3476,33,Lindsay,Santana,4280329,284,Beer - Rickards Red,1
3795,33,Lindsay,Santana,5869069,342,Mangoes,1
4118,33,Lindsay,Santana,1888258,53,Cassis,1
6104,33,Lindsay,Santana,1465031,320,Yogurt - French Vanilla,1
8040,33,Lindsay,Santana,5150162,309,Muffin Batt - Choc Chk,1
8624,33,Lindsay,Santana,6214157,199,Pork - Hock And Feet Attached,1
8781,33,Lindsay,Santana,2958865,91,General Purpose Trigger,1
10599,33,Lindsay,Santana,6022221,441,Blackberries,1
12884,33,Lindsay,Santana,4667682,138,"Rum - Coconut, Malibu",1
13959,33,Lindsay,Santana,3827834,439,"Beef - Chuck, Boneless",1
14280,33,Lindsay,Santana,2005605,162,Sauce - Demi Glace,1
15937,33,Lindsay,Santana,465940,435,"Salsify, Organic",1
15938,33,Lindsay,Santana,1787347,435,"Salsify, Organic",1
16412,33,Lindsay,Santana,3158082,232,Quiche Assorted,1
17480,33,Lindsay,Santana,2490334,381,Vaccum Bag 10x13,1
18070,33,Lindsay,Santana,5056183,387,Fondant - Icing,1
20211,33,Lindsay,Santana,3147536,281,"Bar Mix - Pina Colada, 355 Ml",1
21413,33,Lindsay,Santana,209913,213,Pate - Cognac,1
22372,33,Lindsay,Santana,6515659,23,Crab - Imitation Flakes,1
23709,33,Lindsay,Santana,2055162,443,Lettuce - Spring Mix,1
23710,33,Lindsay,Santana,4507102,443,Lettuce - Spring Mix,1
23869,33,Lindsay,Santana,4376469,315,Wine - Gato Negro Cabernet,1
24160,33,Lindsay,Santana,4226296,348,Pasta - Cheese / Spinach Bauletti,1
28111,33,Lindsay,Santana,6299165,273,Bandage - Flexible Neon,1
28927,33,Lindsay,Santana,1508062,333,Cheese - Cottage Cheese,1
29219,33,Lindsay,Santana,532838,322,Onions - Vidalia,1
29976,33,Lindsay,Santana,4374761,142,"Pork - Bacon, Double Smoked",1
...,...,...,...,...,...,...,...
33913,33,Lindsay,Santana,1943474,306,"Pepper - White, Ground",1
34816,33,Lindsay,Santana,2220112,289,Sword Pick Asst,1
35917,33,Lindsay,Santana,4835339,328,Tuna - Salad Premix,1
36469,33,Lindsay,Santana,255580,317,Water - Green Tea Refresher,1
41634,33,Lindsay,Santana,3939603,372,Wine - Two Oceans Cabernet,1
41777,33,Lindsay,Santana,4788871,267,Grapes - Red,1
44889,33,Lindsay,Santana,2448019,340,Veal - Sweetbread,1
45323,33,Lindsay,Santana,172592,324,Apricots - Dried,1
47604,33,Lindsay,Santana,1404210,193,"Veal - Inside, Choice",1
47605,33,Lindsay,Santana,3269517,193,"Veal - Inside, Choice",1
49241,33,Lindsay,Santana,1835470,379,Smoked Paprika,1
49695,33,Lindsay,Santana,869022,77,Potatoes - Idaho 100 Count,1
51534,33,Lindsay,Santana,1902894,366,Tahini Paste,1
51839,33,Lindsay,Santana,5020972,286,Beef - Prime Rib Aaa,1
52126,33,Lindsay,Santana,814477,110,Black Currants,1
53450,33,Lindsay,Santana,140335,245,Grouper - Fresh,1
53451,33,Lindsay,Santana,1779080,245,Grouper - Fresh,1
53879,33,Lindsay,Santana,2826875,181,Phyllo Dough,1
55217,33,Lindsay,Santana,3975703,67,Wine - Sogrape Mateus Rose,1
55944,33,Lindsay,Santana,2768961,184,Hersey Shakes,1
56734,33,Lindsay,Santana,6448281,383,Cake - Box Window 10x10x2.5,1
57628,33,Lindsay,Santana,2235546,70,Squid - Tubes / Tenticles 10/20,1
58898,33,Lindsay,Santana,3452573,263,Soupfoamcont12oz 112con,1
59495,33,Lindsay,Santana,5332057,51,Wine - Crozes Hermitage E.,1
60895,33,Lindsay,Santana,1579966,154,Ice Cream Bar - Drumstick,1
61648,33,Lindsay,Santana,6507033,300,"Beans - Kidney, Canned",1
62883,33,Lindsay,Santana,4150957,319,Towels - Paper / Kraft,1
63171,33,Lindsay,Santana,3056733,187,"Pepper - Black, Whole",1
66163,33,Lindsay,Santana,3179606,296,Wine - Valpolicella Masi,1
66484,33,Lindsay,Santana,2277923,378,Bread Foccacia Whole,1

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [55]:
grouped = data.groupby(['CustomerID', 'ProductID'])[["Quantity"]].sum().reset_index()

In [56]:
grouped.head(100)

    CustomerID  ProductID  Quantity
0           33         23         1
1           33         51         1
2           33         53         1
3           33         67         1
4           33         70         1
5           33         77         1
6           33         91         1
7           33        110         1
8           33        138         1
9           33        142         1
10          33        154         1
11          33        162         1
12          33        181         1
13          33        184         1
14          33        187         1
15          33        193         2
16          33        199         1
17          33        213         1
18          33        214         1
19          33        219         1
20          33        232         1
21          33        245         2
22          33        259         1
23          33        263         1
24          33        267         1
25          33        273         1
26          33        281         1
27          33        284         1
28          33        286         1
29          33        287         1
..         ...        ...       ...
70         200         49         1
71         200         52         1
72         200         53         1
73         200         66         1
74         200         72         1
75         200         74         1
76         200         83         3
77         200         86         1
78         200         88         2
79         200         94         1
80         200         98         1
81         200        120         1
82         200        128         1
83         200        135         1
84         200        142         1
85         200        152         1
86         200        155         1
87         200        160         1
88         200        164         1
89         200        166         1
90         200        172         1
91         200        187         1
92         200        191         1
93         200        200         1
94         200        203         1
95         200        204         1
96         200        224         1
97         200        228         1
98         200        231         1
99         200        232         1

[100 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [63]:
product_matrix = grouped.pivot_table(index='ProductID', columns='CustomerID', values='Quantity', fill_value=0)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [66]:
customer_dist = squareform(pdist(product_matrix.T, metric='euclidean'))

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [77]:
customer_dist

array([[  0.        ,  11.91637529,  10.48808848, ..., 228.62851966,
        239.        , 229.77380181],
       [ 11.91637529,   0.        ,  11.74734012, ..., 228.01096465,
        239.03765394, 229.70415756],
       [ 10.48808848,  11.74734012,   0.        , ..., 228.08112592,
        238.26665734, 229.77380181],
       ...,
       [228.62851966, 228.01096465, 228.08112592, ...,   0.        ,
        304.13812651, 305.16389039],
       [239.        , 239.03765394, 238.26665734, ..., 304.13812651,
          0.        , 303.10889132],
       [229.77380181, 229.70415756, 229.77380181, ..., 305.16389039,
        303.10889132,   0.        ]])

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.